<h1>Formulário</h1>

<form action="/add" method="post">
    <label for="nome">Nome da atividade:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="data_atividade">Dia da atividade:</label>
    <input type="date" id="data_atividade" name="data_atividade" required><br><br>

    <label for="hora_inicio">Hora de inicio da atividade:</label>
    <input type="time" id="hora_inicio" name="hora_inicio" required><br><br>
    
    <label for="hora_fim">Hora de encerramento da atividade:</label>
    <input type="time" id="hora_fim" name="hora_fim" required><br><br>

    <label for="cor">Cor da categoria da atividade</label>
    <input type="text" id="cor" name="cor" required><br><br>
    
    
    <input type="submit" value="Enviar">
</form>
